.container.col-xs-2.col-xs-offset-2
  %h1 Личный кабинет

  .list-group
    .list-group-item= link_to "Карточка", patient_notes_path
    .list-group-item= link_to "Посещения"
    .list-group-item= link_to "Статистика"
    .list-group-item= link_to "Личная ифнормация", patient_info_path
