<div class="login-form col-xs-4 col-xs-offset-4">

  <h2 id="title">Log in</h2>

  <%= select_tag "Role", options_for_select(role_select, :patient), class: 'form-control' %>

  <br>

  <div id="login-form">

  </div>

</div>
