
.nav.navbar-nav
  %li=link_to "Календарь приемов", doctor_days_path
  %li=link_to "Посещения"
  %li=link_to "Статистика"
  %li=link_to "Пациенты"
  %li=link_to "Личная информация", doctor_info_path
.nav.navbar-nav.navbar-right
  %li= link_to "Выйти", destroy_doctor_session_path, method: :delete
