
.nav.navbar-nav
  %li=link_to "Календарь приемов", doctor_days_path
  %li=link_to "Посещения", doctor_tickets_path
  %li=link_to "Статистика", doctor_charts_path
  %li=link_to "Пациенты", doctor_patients_path
  %li=link_to "Личная информация", doctor_info_path
.nav.navbar-nav.navbar-right
  %li= link_to "Выйти", destroy_doctor_session_path, method: :delete
