= link_to new_patient_ticket_path do
  %button.btn.btn-lg.btn-default.col-xs-offset-2 Записаться на прием
.nav.navbar-nav.navbar-right
  %li= link_to "Личный кабинет", patient_notes_path
  %li= link_to "Выйти", patient_sign_out_path, method: :delete
