/*
 *= require rails_bootstrap_forms
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Philosopher', sans-serif;
}

.day {
  margin-right: 10px;
}

.red {
  background-color: hsl(0, 100%, 80%);
}

.times {
  margin-top: 10px;
}

.patient-nav {
  position: fixed;
}

.operators {
  font-size: 20px;
  float: right;
}

.clear {
  clear: both;
}

.thumb-pic {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.search-field {
  margin-top: 120px;
}

.notice {
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 100%;
  background: rgba(0, 61, 153, 0.8);
}

.alert {
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 100%;
  background: rgba(252, 52, 97, 0.9);
}

.log-but {
  margin-left: 300%;
}

.pages {
  font-size: 10pt
}

.center {
  text-align: center;
}

.about {
  font-size: 14pt;
}
